.github
  iframe.github(src='http://ghbtns.com/github-btn.html?user=jpillora&type=follow&count=true', 
       allowtransparency='true', 
       frameborder='0', 
       scrolling='0',
       width='135',
       height='20')


.flattr
  script
    (function() {
      var s = document.createElement('script');
      var t = document.getElementsByTagName('script')[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';
      t.parentNode.insertBefore(s, t);
    })();

  a.FlattrButton(href="http://jpillora.com",title="Jaime Pillora",
                 data-flattr-uid="jpillora",
                 data-flattr-popout="1",
                 data-flattr-button="compact",
                 data-flattr-category="people",
                 data-flattr-tags="javascript, opensource")
    | Jaime Pillora - JavaScript Developer

.linkedin
  script(src='//platform.linkedin.com/in.js')
  script(type='IN/MemberProfile', 
         data-id='http://www.linkedin.com/pub/jaime-pillora/22/a60/a45',
         data-format='hover',
         data-text='Jaime Pillora')

.twitter
  a.twitter-follow-button(href='https://twitter.com/jpillora', data-show-count='false') Follow @jpillora
    script
      !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],
            p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){
              js=d.createElement(s);js.id=id;
              js.src=p+'://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js,fjs);
            }
      }(document, 'script', 'twitter-wjs');

.contact
  a.btn.btn-inverse.btn-mini(href='mailto:dev@jpillora.com', target="_blank")
    i.icon-white.icon-envelope
    | dev@jpillora.com
